* {
    outline: 1px solid red;
}
body {
    padding: 0%;
    margin: 0%;
    font-size: 18px;
    font-family: 'Special Elite', cursive;
}

/* Main body design */

div.container {
    height: 100%;
    width: 100%;
    margin-top: 0%;
    background-color: #b0deff;
}

    div.container div.title {
        width: 80%;
        height: 30px;
        padding: 5px 80px;
        text-align: center;
    }

    div.container div.all_options {
        height: 1200px;
        width: 100%;
        text-align: center;
    }
    
    div.container div.all_options div.option {
        width: 375px;
        height: 440px;
        background-color: salmon;
        margin: 20px;
        padding: 50px;
        display: inline-block;
        }

            div.container div.all_options div.option div#pic {
                height: 194px;
                background-image: url("/corporate-option.png");
            }

            div.container div.all_options div.option div#title {
                height: 30px;
                padding: 16px 16px 16px 4px;
            }

            div.container div.all_options div.option div#desc {
                height: 60px;
                padding: 16px 5px;
            }

            div.container div.all_options div.option div#menu_link {
                height: 62px;
                padding: 16px;
            }
